<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Criminal Face Identification</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="../../static/web/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="../../static/web/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="../../static/web/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="../../static/web/images/fevicon.png" type="image/gif" />
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <!--<div class="loader_bg">
         <div class="loader"><img src="../../static/web/images/loading.gif" alt="#"/></div>
      </div>-->
      <!-- end loader -->
      <!-- header -->
      <div class="header">
         <div class="container">
            <div class="row d_flex">
               <div class=" col-md-2 col-sm-3 col logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo">
                           <a href="../../static/web/index.html"><img src="../../static/web/images/logo.png" alt="#" /></a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-8 col-sm-12">
                  <nav class="navigation navbar navbar-expand-md navbar-dark ">
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                     </button>
                     <div class="collapse navbar-collapse" id="navbarsExample04">
                        <ul class="navbar-nav mr-auto">
                           <li class="nav-item active">
                              <a class="nav-link" href="/">Home</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="/login_dept">LE Department</a>
                           </li>
                           
                           <li class="nav-item">
                              <a class="nav-link" href="/login">Admin</a>
                           </li>
                        </ul>
                     </div>
                  </nav>
               </div>
               <div class="col-md-2  d_none">
                  <ul class="email text_align_right">
                    <!-- <li><a href="Javascript:void(0)"> <i class="fa fa-shopping-bag" aria-hidden="true"> <span>0</span></i>
                        </a>
                     </li>
                     <li><a href="Javascript:void(0)">Sign In
                        </a>
                     </li>-->
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!-- end header inner -->
      <!-- top -->
      <div style="background-image:url(../../static/web/images/banner2.png); background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 100vh;
     padding-bottom: 100px;">
         <div class="slider_main">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <!-- carousel code -->
                     <div id="banner1" class="carousel slide">
                        <ol class="carousel-indicators">
                           <li data-target="#banner1" data-slide-to="0" class="active"></li>
                           <li data-target="#banner1" data-slide-to="1"></li>
                           <li data-target="#banner1" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                           <!-- first slide -->
                           <div class="carousel-item active">
                              <div class="carousel-caption relative">
                                 <div class="row">
                                    <div class="col-md-6">
                                       <div class="dream">
                                          <h1>
                                             Criminal <br>Face <br>Identification <br>
                                          </h1>
                                          <a class="read_more" href="/monitor">
										  Surveillance</a>    
                                          
										  
										  
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="dream_img">
                                          <!--<figure><img src="../../static/web/images/dream_img.png" alt="#"/></figure>-->
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- second slide -->
                           <div class="carousel-item">
                              <div class="carousel-caption relative">
                                 <div class="row">
                                    <div class="col-md-6">
                                       <div class="dream">
                                          <h1>
                                             Criminal <br>Face <br>Identification <br>
                                          </h1>
                                          <a class="read_more" href="/login_dept">Get Stared</a>    
                                          
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="dream_img">
                                          <!--<figure><img src="../../static/web/images/dream_img.png" alt="#"/></figure>-->
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- third slide-->
                           <div class="carousel-item">
                              <div class="carousel-caption relative">
                                 <div class="row">
                                    <div class="col-md-6">
                                       <div class="dream">
                                          <h1>
                                             Criminal <br>Face <br>Identification <br>
                                          </h1>
                                          <a class="read_more" href="/login_dept">Get Stared</a>    
                                          
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="dream_img">
                                          <!--<figure><img src="../../static/web/images/dream_img.png" alt="#"/></figure>-->
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- controls -->
                        <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end banner -->
      <!-- domain -->
      
      <!-- end domain -->
      <!-- guarantee -->
     
      <!-- end about -->
      <!-- contact -->
     
	
      <!-- contact -->
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                 
                 
                 
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>CrimeNet Model based Criminal Identifications System for Law Enforcement Department<a href="https://html.design/"></a></p>
						
						<p><a href="/capture_video">Capture Video</a> / <a href="/captured">Footage</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="../../static/web/js/jquery.min.js"></script>
      <script src="../../static/web/js/bootstrap.bundle.min.js"></script>
      <!-- sidebar -->
      <script src="../../static/web/js/custom.js"></script>
   </body>
</html>