<html lang="en">

<head>
   <title>Criminal Face Identification</title>
   <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
     <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
     <![endif]-->

   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
   <!-- Favicon icon -->
   <link rel="shortcut icon" href="../static/assets/images/favicon.png" type="image/x-icon">
   <link rel="icon" href="../static/assets/images/favicon.ico" type="image/x-icon">

   <!-- Google font-->
   <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">

   <!-- themify -->
   <link rel="stylesheet" type="text/css" href="../static/assets/icon/themify-icons/themify-icons.css">

   <!-- iconfont -->
   <link rel="stylesheet" type="text/css" href="../static/assets/icon/icofont/css/icofont.css">

   <!-- simple line icon -->
   <link rel="stylesheet" type="text/css" href="../static/assets/icon/simple-line-icons/css/simple-line-icons.css">

   <!-- Required Fremwork -->
   <link rel="stylesheet" type="text/css" href="../static/assets/plugins/bootstrap/css/bootstrap.min.css">

   <!-- Chartlist chart css -->
   <link rel="stylesheet" href="../static/assets/plugins/chartist/dist/chartist.css" type="text/css" media="all">

   <!-- Weather css -->
   <link href="../static/assets/css/svg-weather.css" rel="stylesheet">


   <!-- Style.css -->
   <link rel="stylesheet" type="text/css" href="../static/assets/css/main.css">

   <!-- Responsive.css-->
   <link rel="stylesheet" type="text/css" href="../static/assets/css/responsive.css">
<script language="javascript">
function validate()
{
	if(document.form1.police_id.value=="")
	{
	alert("Enter the Police ID");
	document.form1.police_id.focus();
	return false;
	}
	if(document.form1.police_name.value=="")
	{
	alert("Enter the Police Name");
	document.form1.police_name.focus();
	return false;
	}
	if(document.form1.designation.value=="")
	{
	alert("Enter the Designation");
	document.form1.designation.focus();
	return false;
	}
	if(document.form1.mobile.value=="")
	{
	alert("Enter the Mobile No.");
	document.form1.mobile.focus();
	return false;
	}
	if(isNaN(document.form1.mobile.value))
	{
	alert("Invalid Mobile No.");
	document.form1.mobile.select();
	return false;
	}
	if(document.form1.mobile.value.length!=10)
	{
	alert("Mobile No. must be 10 digits!");
	document.form1.mobile.select();
	return false;
	}
	if(document.form1.email.value=="")
	{
	alert("Enter the Email");
	document.form1.email.focus();
	return false;
	}
	if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(document.form1.email.value))  
	{
	
	}
	else
	{
	alert("Invalid E-mail!");
	document.form1.email.select();
	return false;
	}
	
return true;
}
</script>
</head>

<body class="sidebar-mini fixed">
   <div class="loader-bg">
      <div class="loader-bar">
      </div>
   </div>
   <div class="wrapper">
      <!-- Navbar-->
      <header class="main-header-top hidden-print">
         <a href="" class="logo"><img class="img-fluid able-logo" src="../static/assets/images/logo.png" alt="Theme-logo"></a>
         <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#!" data-toggle="offcanvas" class="sidebar-toggle"></a>
            <ul class="top-nav lft-nav">
               <li>
                  <a href="/add_station">
                     <i class="ti-files"> </i><span> Add Police Station</span>                  </a>               </li>               
              <!-- <li class="dropdown">
                  <a href="#!" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle drop icon-circle drop-image">
                     <span>Dropdown </span><i class=" icofont icofont-simple-down"></i>
                  </a>
                  <ul class="dropdown-menu settings-menu">
                     <li><a href="#">List item 1</a></li>
                     <li><a href="#">List item 2</a></li>
                     <li><a href="#">List item 3</a></li>
                     <li><a href="#">List item 4</a></li>
                     <li><a href="#">List item 5</a></li>
                  </ul>
               </li>-->
              
            </ul>
            <!-- Navbar Right Menu-->
            <div class="navbar-custom-menu f-right">
              

               <ul class="top-nav">
                  <!--Notification Menu-->
                  <!-- chat dropdown -->
                  
                  <!-- User Menu-->
                  <li class="dropdown">
                     <a href="#!" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle drop icon-circle drop-image">
                        <span><!--<img class="img-circle " src="../static/assets/images/avatar-1.png" style="width:40px;" alt="User Image">--></span>
                        <span>Admin <i class=" icofont icofont-simple-down"></i></span>

                     </a>
                     <ul class="dropdown-menu settings-menu">
                        <!--<li><a href="#!"><i class="icon-settings"></i> Settings</a></li>-->
                       
                        <li><a href="logout"><i class="icon-logout"></i> Logout</a></li>

                     </ul>
                  </li>
               </ul>

               <!-- search -->
               <div id="morphsearch" class="morphsearch">
                  
                  <div class="morphsearch-content">
                    
                  </div>
                  <!-- /morphsearch-content -->
                  <span class="morphsearch-close"><i class="icofont icofont-search-alt-1"></i></span>
               </div>
               <!-- search end -->
            </div>
        </nav>
      </header>
      <!-- Side-Nav-->
      <aside class="main-sidebar hidden-print ">
         <section class="sidebar" id="sidebar-scroll">
            <!-- Sidebar Menu-->
            <ul class="sidebar-menu">
                <li class="nav-level">--- Navigation</li>
                <li class="active treeview">
                    <a class="waves-effect waves-dark" href="/admin">
                        <i class="icon-speedometer"></i><span> Dashboard</span>
                    </a>                
                </li>
				
				 <li class="treeview"><a class="waves-effect waves-dark" href="/view_video1"><i class="icon-docs"></i><span>Suspect Identification</span></a>
                   
                </li>
         		 <li class="treeview"><a class="waves-effect waves-dark" href="/view_report2"><i class="icon-docs"></i><span>Criminal Surveillance Report</span></a>
                   
                </li>


                <li class="treeview"><a class="waves-effect waves-dark" href="/logout"><i class="icofont icofont-company"></i><span>Logout</span></a>
                   
                </li>
            </ul>
         </section>
      </aside>
      <!-- Sidebar chat start -->
      <div id="sidebar" class="p-fixed header-users showChat">
         <div class="had-container">
            <div class="card card_main header-users-main">
               <div class="card-content user-box">
                  <div class="md-group-add-on p-20">
                     <span class="md-add-on">
                                    <i class="icofont icofont-search-alt-2 chat-search"></i>
                                 </span>
                    

                  </div>
                  <div class="media friendlist-main">

                     <h6></h6>

                  </div>
                  <div class="main-friend-list">
                    
                  </div>
               </div>
            </div>
         </div>

      </div>
      <div class="showChat_inner">
        
         
         
         <div class="media chat-reply-box">
           

         </div>
      </div>
      <!-- Sidebar chat end-->
      <div class="content-wrapper">
         <!-- Container-fluid starts -->
         <!-- Main content starts -->
         <div class="container-fluid">
            <div class="row">
               <div class="main-header">
                  <h4>Law Enforcement Officer</h4>
               </div>
            </div>
            <!-- 4-blocks row start -->
            <div class="row dashboard-header">
               
            </div>
            <!-- 4-blocks row end -->

            <!-- 1-3-block row start -->
            <div class="row">
               <div class="col-md-6">
			   	<div class="card">
			   	 <h4></h4>
                        <table class="table m-b-0 photo-table">
                              <thead>
                                 <tr class="text-uppercase">
                                    <th>#</th>
                                    <th>Police ID</th>
                                    <th>Name</th>
                                    <th>Contact</th>
                                    <th>Action</th>
                                 </tr>
                              </thead>
                              <tbody>
							  {% for rs in data1 %}
                                 <tr>
                                    <th>
                                       <img class="img-fluid img-circle" src="../static/assets/images/profile.jpg" alt="User">
                                    </th>
                                    <td>{{rs[5]}}
                                      <!-- <p><i class="icofont icofont-clock-time"></i>Created 14.9.2016</p>-->
                                    </td>
                                    <td>
                                      {{rs[2]}}<br>
									  {{rs[6]}}
                                    </td>
                                    <td>{{rs[3]}} <br> {{rs[4]}}</td>
                                    <td><a href="/add_police?act=del&did={{rs[0]}}&sid={{sid}}">Delete</a></td>
                                 </tr>
                                 {% endfor %}

                              </tbody>
                           </table>
						   
						   </div>
			   </div>
               <div class="col-lg-6">
                  <div class="card">
                     <div class="card-header">
					 <h3>Police Details</h3>
                        <form name="form1" method="post">
					    {% if msg=="success" %}
						<span style="color:#009900">Police Details Added..</span>
						<iframe src="http://iotcloud.co.in/testmail/testmail1.php?message={{mess}}&email={{email}}&subject=Police Station" width="10" height="10" frameborder="0"></iframe>
						<script>
//Using setTimeout to execute a function after 5 seconds.
setTimeout(function () {
   //Redirect with JavaScript
   window.location.href= '/admin';
}, 2000);
</script>
						{% endif %}
						{% if msg=="fail" %}
						<span style="color:#FF0000">Already Exist!</span>
						
						{% endif %}
					   <div class="row">
					   		<div class="col-md=6">
							<label>Police ID</label>
							<input type="text" name="police_id" class="form-control" value="{{pid}}">
							</div>
					   		<div class="col-md=6">
							<label>Police Name</label>
							<input type="text" name="police_name" class="form-control">
							</div>
							<div class="col-md=6">
							<label>Designation</label>
							<input type="text" name="designation" class="form-control">
							</div>
							<div class="col-md=6">
							<label>Mobile No.</label>
							<input type="text" name="mobile" maxlength="10" class="form-control">
							</div>
							<div class="col-md=6">
							<label>Email</label>
							<input type="text" name="email" class="form-control">
							</div>
							
							<br>
							
							<div class="col-md=12">
					   		<p align="center"><button class="btn bg-primary" type="submit" onClick="return validate()">Add</button></p>
							</div>
					   </div>
					   
					   </form>
                     </div>
                    
                  </div>
               </div>
              
            </div>
            <!-- 1-3-block row end -->

            <!-- 2-1 block start -->
           
            <!-- 2-1 block end -->
         </div>
         <!-- Main content ends -->
         <!-- Container-fluid ends -->
         <div class="fixed-button">
           
         </div>
      </div>
   </div>


   <!-- Warning Section Starts -->
   <!-- Older IE warning message -->
   <!--[if lt IE 9]>
      <div class="ie-warning">
          <h1>Warning!!</h1>
          <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
          <div class="iew-container">
              <ul class="iew-download">
                  <li>
                      <a href="http://www.google.com/chrome/">
                          <img src="assets/images/browser/chrome.png" alt="Chrome">
                          <div>Chrome</div>
                      </a>
                  </li>
                  <li>
                      <a href="https://www.mozilla.org/en-US/firefox/new/">
                          <img src="assets/images/browser/firefox.png" alt="Firefox">
                          <div>Firefox</div>
                      </a>
                  </li>
                  <li>
                      <a href="http://www.opera.com">
                          <img src="assets/images/browser/opera.png" alt="Opera">
                          <div>Opera</div>
                      </a>
                  </li>
                  <li>
                      <a href="https://www.apple.com/safari/">
                          <img src="assets/images/browser/safari.png" alt="Safari">
                          <div>Safari</div>
                      </a>
                  </li>
                  <li>
                      <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                          <img src="assets/images/browser/ie.png" alt="">
                          <div>IE (9 & above)</div>
                      </a>
                  </li>
              </ul>
          </div>
          <p>Sorry for the inconvenience!</p>
      </div>
      <![endif]-->
   <!-- Warning Section Ends -->

   <!-- Required Jqurey -->
   <script src="../static/assets/plugins/Jquery/dist/jquery.min.js"></script>
   <script src="../static/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
   <script src="../static/assets/plugins/tether/dist/js/tether.min.js"></script>

   <!-- Required Fremwork -->
   <script src="../static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

   <!-- Scrollbar JS-->
   <script src="../static/assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
   <script src="../static/assets/plugins/jquery.nicescroll/jquery.nicescroll.min.js"></script>

   <!--classic JS-->
   <script src="../static/assets/plugins/classie/classie.js"></script>

   <!-- notification -->
   <script src="../static/assets/plugins/notification/js/bootstrap-growl.min.js"></script>

   <!-- Sparkline charts -->
   <script src="../static/assets/plugins/jquery-sparkline/dist/jquery.sparkline.js"></script>

   <!-- Counter js  -->
   <script src="../static/assets/plugins/waypoints/jquery.waypoints.min.js"></script>
   <script src="../static/assets/plugins/countdown/js/jquery.counterup.js"></script>

   <!-- Echart js -->
   <script src="../static/assets/plugins/charts/echarts/js/echarts-all.js"></script>

   <script src="https://code.highcharts.com/highcharts.js"></script>
   <script src="https://code.highcharts.com/modules/exporting.js"></script>
   <script src="https://code.highcharts.com/highcharts-3d.js"></script>

   <!-- custom js -->
   <script type="text/javascript" src="../static/assets/js/main.min.js"></script>
   <script type="text/javascript" src="../static/assets/pages/dashboard.js"></script>
   <script type="text/javascript" src="../static/assets/pages/elements.js"></script>
   <script src="../static/assets/js/menu.min.js"></script>
<script>
var $window = $(window);
var nav = $('.fixed-button');
$window.scroll(function(){
    if ($window.scrollTop() >= 200) {
       nav.addClass('active');
    }
    else {
       nav.removeClass('active');
    }
});
</script>

</body>

</html>
